@import "/templates/styles.css";

#container {
	display: grid;
	gap: 2vw;

	/* grid-template-columns: repeat(auto-fill, minmax(20vw, 20vw));
	grid-template-rows: repeat(auto-fill, minmax(20vw, 20vw)); */

	/* Бодя, я записав скороченіше і можливо так краще */
	grid-template: auto / repeat(auto-fill, minmax(20vw, 20vw));

	justify-content: center;
}

#description {
	border: rgba(0, 0, 0, 0.2);
	left: 50%;
	max-height: 80vh;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	z-index: 3;
	display: flex;
}

/* Бодя перероби це по умному */
.description-button {
	background-color: rgba(245, 0, 98, 1);
	border: none;
	border-radius: 20px;
	bottom: 20px;
	height: 50px;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 100px;
}

#manage-quiz-button {
	transform: translateX(0%);
	left: 5%;
}

#delete-quiz-button {
	transform: translateX(-100%);
	left: 95%;
}

#overlay {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.quiz {
	align-items: center;
	aspect-ratio: 1;
	background-color: rgb(233, 14, 178);
	border: none;
	border-radius: 20px;
	color: rgb(35, 15, 35);
	font-family: "Pixelify Sans", sans-serif;
	font-size: 23px;
	image-rendering: pixelated;
	justify-content: center;
	max-height: 400px;
	width: 20vw;
	z-index: 1;
}

.quiz img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
	.quiz {
		font-size: 13px;
	}
}
