@import "/templates/styles.css";

#container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20vw, 20vw));
	grid-template-rows: repeat(auto-fill, minmax(20vw, 20vw));
	gap: 2vw;
	justify-content: center;
}

.quiz {
	background-color: rgb(233, 14, 178);
	color: rgb(35, 15, 35);
	border: none;
	border-radius: 20px;
	font-size: 23px;
	aspect-ratio: 1;
	width: 20vw;
	max-height: 400px;
	justify-content: center;
	align-items: center;
	font-family: "Pixelify Sans", sans-serif;
	image-rendering: pixelated;
	z-index: 1;
}

#description {
	border: rgba(0, 0, 0, 0.2);
	width: 80vw;
	max-height: 80vh;
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	z-index: 3;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.description-button {
	background-color: rgba(245, 0, 98, 1);
	height: 50px;
	width: 100px;
	border: none;
	border-radius: 20px;
	position: absolute;
	transform: translateX(-50%);
	bottom: 20px;
}

#manage-quiz-button {
	left: 10%;
}

#delete-quiz-button {
	left: 90%;
}

@media screen and (max-width: 768px) {
	.quiz {
		font-size: 13px;
	}
}
