@import "/templates/styles.css";
#container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20vw, 20vw));
	grid-template-rows: repeat(auto-fill, minmax(20vw, 20vw));
	gap: 2vw;
	justify-content: center;
}
.quiz {
	background-color: rgb(233, 14, 178);
	color: rgb(35, 15, 35);
	border: none;
	border-radius: 20px;
	aspect-ratio: 1;
	image-rendering: pixelated;
	/* height: 20vw; */
	width: 20vw;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 23px;
	transition: all 300ms ease;
	max-height: 400px;
	/* margin: 1vw 2vw; */
}
#start-quiz-button {
	height: 50px;
	width: 100px;
	background-color: rgb(146, 6, 146);
	border: none;
	border-radius: 20px;
	position: absolute;
	bottom: 20px;
}
@media screen and (max-width: 768px) {
	.quiz {
		font-size: 13px;
	}
}
