@import "/templates/styles.css";

#container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20vw, 20vw));
	grid-template-rows: repeat(auto-fill, minmax(20vw, 20vw));
	gap: 2vw;
	justify-content: center;
}

.quiz {
	background-color: rgb(233, 14, 178);
	color: rgb(35, 15, 35);
	border: none;
	border-radius: 20px;
	aspect-ratio: 1;
	image-rendering: pixelated;
	/* height: 20vw; */
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 23px;
	transition: all 300ms ease;
	max-height: 400px;
	/* margin: 1vw 2vw; */
}

.quiz.add {
	background-color: rgb(233, 14, 178);
	/* background: radial-gradient(rgb(233, 14, 178), rgb(245, 0, 98)); */
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 300ms ease;
	z-index: 9;
}

#start-quiz-button {
	height: 50px;
	width: 100px;
	background-color: rgba(245, 0, 98, 1);
	border: none;
	border-radius: 20px;
	position: absolute;
	bottom: 20px;
	box-shadow: 0 0 10px rgb(233, 14, 178);
}

@media screen and (max-width: 768px) {
	.quiz {
		font-size: 13px;
	}
}
