@import "/templates/styles.css";

.toolbar {
	visibility: hidden;
}

.title {
	color: white;
	margin: 20px 0;
}

#title {
	font-size: clamp(20px, 4vw, 40px);
	text-align: center;
}

.options {
	display: grid;
}

.option-text {
	color: white;
	margin-left: 10px;
}

.submit {
	background-color: rgba(0, 123, 255, 1);
	border: none;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	font-size: clamp(10px, 4vw, 20px);
	margin: 10px auto;
	padding: 10px 20px;
	display: block;
}
/* Я додав рандомні стилі, просто щоб бачити як це виглядає */
