@import "/templates/styles.css";

.question-block {
	background-color: white;
	width: 90%;
	text-align: center;
}

.toolbar {
	visibility: hidden;
}

.submit {
	background-color: rgb(100, 50, 100);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	margin-right: 5%;
	position: absolute;
	bottom: 130px; /* паміняй */
}

.quiz-name {
	background: white;
	text-align: center;
	font-size: clamp(10px, 4vw, 20px);
	margin-bottom: 10px;
	font-family: "Stalinist One", sans-serif;
}

.total {
	background: white;
	text-align: center;
	font-size: clamp(10px, 4vw, 20px);
	margin-bottom: 10px;
	font-family: "Stalinist One", sans-serif;
}

.questionDiv {
	background: white;
	margin: 10px;
}

.optionsLable {
	background: white;
}

/* Я додав рандомні стилі, просто щоб бачити як це виглядає */
