@import "/templates/styles.css";

#container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.toolbar {
	visibility: hidden;
}

.title {
	color: white;
	font-size: clamp(10px, 3vw, 32px);
}

.title.main {
	font-size: clamp(20px, 4vw, 40px);
	text-align: center;
	margin: 10px 10px 15px 10px;
}

.options {
	display: grid;
	padding-left: 10px;
}

.option-text {
	color: white;
	margin-left: 5px;
}

.wrapper {
	background-color: rgb(146, 6, 146);
	padding: 10px;
	border-radius: 10px;
}
