@import "/templates/styles.css";

#container {
	display: grid;
	gap: 20px;
}

.input {
	border: none;
	background-color: transparent;
	border-bottom: 1px solid white;
	color: white;
	font-size: 24px;
	font-family: "Pixelify Sans", sans-serif;
	width: fit-content;
}
