@import "/templates/styles.css";

.container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.question-container {
	min-height: 100px;
	background-color: rgb(205, 138, 205);
	padding: 10px 20px;
	border-radius: 8px;
	position: relative;
	gap: 10px;
	max-width: 800px;
}

.question-text-wrapper {
	flex-direction: row;
	justify-content: space-between;
}

.options-container {
	gap: 5px;
}

.option-container {
	flex-direction: row;
	gap: 5px;
}

.title-container {
	flex-direction: row;
	gap: 10px;
}

.input {
	width: fit-content;
	border: none;
	background-color: transparent;
	text-align: left;
	border-bottom: 2px solid lightgray;
	outline: none;
	color: black;
	font-size: 18px;
	font-family: "Pixelify Sans", sans-serif;
}

.title {
	min-width: 400px;
	font-size: 24px;
	color: white;
}

.description {
	width: 80%;
	color: white;
	border: 2px solid lightgray;
}

.question-text {
	font-size: 20px;
}

.option-text {
	border: 2px solid lightgray;
}

.char-count {
	font-size: 20px;
	color: white;
	margin: 5px;
}

.questions-wrapper {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.save-quiz {
	margin-top: auto;
	align-self: center;
	width: 100%;
	padding: 10px 20px;
}

.input-error {
	background-color: rgba(255, 0, 0, 0.2);
	border: 2px solid red;
}
