@import "../templates/styles.css";

.backButton {
	background-color: rgb(100, 50, 100);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	position: relative;
	margin-right: 5%;
	/* top: -78px; */
	text-decoration: none;
}
.titleElementDiv {
    text-align: center;
    background-color: white;
}
.summaryElementDiv {
    text-align: center;
    background-color: white;
}

.resultTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.deleteBtn {
	background-color: red;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	position: relative;
	margin-top: 20px;
	text-decoration: none;
	cursor: pointer;
}
