body {
	font-family: Arial, sans-serif;
	background-color: rgb(80, 12, 63);
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.stalinist-one-regular {
	font-family: "Stalinist One", sans-serif;
	font-weight: 400;
	font-style: normal;
}
#header {
	background-color: rgb(146, 6, 146);
	color: rgb(27, 0, 25);
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	padding: 2% 0;
	font-size: clamp(25px, 3vw, 50px);
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	height: 10%;
	top: 0;
	width: 100%;
	margin-bottom: 2%;
	font-family: "Stalinist One", sans-serif;
	image-rendering: pixelated;
	min-height: 50px;
}
#footer {
	background-color: rgb(146, 6, 146);
	color: rgb(27, 0, 25);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
	padding: 2% 0;
	font-size: clamp(5px, 3vw, 10px);
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	height: 5%;
	bottom: 0;
	width: 100%;
	margin-top: 2%;
	font-family: "Stalinist One", sans-serif;
}
#container {
	flex: 1;
	width: 91%;
	margin: 0 auto;
	background-color: rgb(34, 14, 34);
	padding: 2%;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(114, 0, 104, 0.692);
}
