@import "/templates/styles.css";

header {
	align-items: center;
}

.container {
	display: grid;
	gap: 20px;
}

.saveQuizButton {
	background-color: rgb(255, 0, 98);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	margin-top: auto;
	font-family: "pixelify sans", sans-serif;
}
.saveQuizButton:hover {
	background-color: rgb(124, 74, 124);
}
/* докодити  */
.saveQuizButton:disabled {
	background-color: grey;
	cursor: not-allowed;
	color: rgb(190, 190, 190);
}

.quizTitle {
	border: none;
	background-color: transparent;
	text-align: left;
	border-bottom: 1px solid white;
	outline: none;
	caret-color: white;
	color: white;
	font-size: 24px;
	font-family: "Pixelify Sans", sans-serif;
	/* width: fit-content; */
	display: inline-block;
	width: fit-content;
}

.quizTitle::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.quizDescriptionInput {
	border: none;
	background-color: transparent;
	border: 2px solid white;
	text-align: left;
	outline: none;
	caret-color: white;
	color: white;
	font-size: 19px;
	font-family: "Pixelify Sans", sans-serif;
	width: fit-content;
	display: inline-block;
	width: 40%;

}

.input-error,
.optionText.input-error,
.questionText.input-error {
	background-color: rgba(255, 0, 0, 0.2);
	border: 2px solid red;
}

.addquestion {
	background-color: rgb(146, 6, 146);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	width: 10vh;
	height: 50px;
}

.quizzesContainer {
	min-height: 100px;
	background-color: rgb(205, 138, 205);
	padding: 10px 20px;
	border-radius: 8px;
	position: relative;
	display: grid;
	gap: 3px;
	max-width: 800px;
}

.questionNum {
	margin: 0px;
	font-size: 20px;
}

#deletequestion {
	text-align: right;
	margin-top: 12px;
	right: 15px;
	position: absolute;
	font-size: 20px;
}

.questionText {
	border: none;
	background-color: transparent;
	border-bottom: 1px solid white;
	outline: none;
	caret-color: rgb(22, 20, 20);
	color: rgb(0, 0, 0);
	font-size: 20px;
	margin-bottom: 10px;
	inline-size: fit-content;
	font-family: "Pixelify Sans", sans-serif;
}

.questionText::placeholder {
	color: rgb(45, 45, 45); /* змінює колір тексту плейсхолдера */
	opacity: 1; /* робить його повністю непрозорим */
}

.variant {
	font-size: 18px;
	margin: 10px 0 5px 0;
}

.addvariant {
	background-color: rgb(146, 6, 146);
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 16px;
	width: 5vh;
	height: 30px;
}

.addvariant:hover {
	background-color: rgb(124, 74, 124);
}
.quizName p {
	margin: 0;
	font-size: 20px;
	color: white;
	font-family: "Pixelify Sans", sans-serif;
}

.quizName .reset {
	background-color: rgb(255, 0, 98);
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 16px;
	font-family: "Pixelify Sans", sans-serif;
}

.quizName .reset:hover {
	background-color: rgb(124, 74, 124);
}

.quizName {
	display: flex;

	/* flex-direction: row;      */
	align-items: center;

	gap: 10px;
	margin-top: 20px;
}

label {
	display: flex;
	gap: 10px;
	align-items: center;
}

#deletevariant,
#deletequestion {
	background-color: rgb(255, 0, 98);
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 16px;
}

.optionText {
	background-color: transparent;
	border: 1px solid white;
	outline: none;
	caret-color: rgb(22, 20, 20);
	color: rgb(0, 0, 0);
	font-size: 18px;
	font-family: "Pixelify Sans", sans-serif;
}

input[type="checkbox"] {
	width: 15px;
	height: 15px;
}

@media screen and (max-width: 768px) {
	.header h1 {
		font-size: 25px;
		content-align: right;
	}

	.backButton img {
		width: 70px;
		height: 35px;
	}
}
