html,
body {
	font-family: Arial, sans-serif;
	background-color: rgb(70, 30, 70);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: rgb(140, 60, 140);
	color: rgb(70, 30, 70);
	text-align: center;
	padding: 10px;
	font-size: 24px;

	border-radius: 0 0 20% 20%;
	top: 0;
	width: 100%;
	margin-bottom: 2%;
	margin-top: 0;
	height: 100px;
}
footer {
	background-color: rgb(140, 60, 140);
	color: rgb(70, 30, 70);
	text-align: center;
	padding: 10px 0;
	font-size: 24px;
	border-top-left-radius: 20%;
	border-top-right-radius: 20%;
}
.container {
	margin: 20px;
	min-height: 500px;
	background-color: rgb(35, 15, 35);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	/* display: flex; */
	flex-direction: column;
	flex: 1;
	display: grid;
	/* length: 100%; */
}
.backButton {
	background-color: rgb(100, 50, 100);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	position: relative;
	margin-left: 85%;
	top: -78px;
}
.backButton:hover {
	background-color: rgb(124, 74, 124);
}
.saveQuizButton {
	background-color: rgb(100, 50, 100);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	display: block;
	margin-top: auto;
	bottom: 5%; /* відступ від низу вікна */
	right: 4%; /* по центру горизонтально */
}
.saveQuizButton:hover {
	background-color: rgb(124, 74, 124);
}
.quizName {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0px;
}
.quizTitle {
	border: none;
	background-color: transparent;
	text-align: left;
	border-bottom: 1px solid white;
	outline: none;
	caret-color: white;
	color: white;
	cursor: text;
	font-size: 20px;
	margin: 10px 0;
}
.quizTitle::placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.addquestion {
	background-color: rgb(100, 50, 100);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	width: 10vh;
}
.quizzesContainer {
	margin: 20px 0;
	min-height: 100px;
	background-color: rgb(205, 138, 205);
	padding: 10px 20px;
	border-radius: 8px;
	display: grid;
	flex-direction: column;
	gap: 1px;
}
.questionNum {
	margin: 0px;
	font-size: 21px;
}
