@import "/templates/styles.css";

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	max-height: 100px;
	font-size: 25px;
}

header h1 {
	text-align: center;
	margin: auto;
}

footer {
	background-color: rgb(140, 60, 140);
	color: rgb(212, 25, 212);
	text-align: center;
	padding: 10px 0;
	font-size: 24px;
	border-radius: 20% 20% 0 0;
	width: 100%;
}

.container {
	margin: 20px;
	min-height: 500px;
	background-color: rgb(35, 15, 35);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	/* display: flex; */
	flex-direction: column;
	/* flex: 1; */
	display: grid;
	gap: 20px;
	/* length: 100%; */
}

.backButton {
	
	margin-right: 5%;
	position: absolute;
	
	color: white;
	border: none;
	padding: 0;
	border-radius: 5px;
	position: relative;
	justify-content: center;
	text-decoration: none;
}

.backButton img {
	width: 100px;
	height: 50px;
}

.saveQuizButton {
	background-color: rgb(255, 0, 98);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	display: block;
	margin-top: auto;
	font-family:  'pixelify sans', sans-serif;
	bottom: 5%; /* відступ від низу вікна */
	right: 4%; /* по центру горизонтально */
}

.saveQuizButton:hover {
	background-color: rgb(124, 74, 124);
}

.saveQuizButton:disabled {
	background-color: grey;
	cursor: not-allowed;
	color:rgb(190, 190, 190);
}

/* .quizName {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0px;
} */

.quizTitle {
	border: none;
	background-color: transparent;
	text-align: left;
	border-bottom: 1px solid white;
	outline: none;
	caret-color: white;
	color: white;
	font-size: 24px;
	font-family: "Pixelify Sans", sans-serif;
	/* width: fit-content; */
	display: inline-block;
	width: fit-content; 
}

.quizTitle::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.quizDescriptionInput {
	border: none;
	background-color: transparent;
	border: 2px solid white;
	text-align: left;
	outline: none;
	caret-color: white;
	color: white;
	font-size: 19px;
	font-family: "Pixelify Sans", sans-serif;
	width: fit-content;
	display: inline-block;
	width: 40%;  
}

.input-error, .optionText.input-error, .questionText.input-error {
	background-color: rgba(255, 0, 0, 0.2);
	border: 2px solid red;
}

.addquestion {
	background-color: rgb(146, 6, 146);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	width: 10vh;
	height: 50px;
}

.quizzesContainer {
	min-height: 100px;
	background-color: rgb(205, 138, 205);
	padding: 10px 20px;
	border-radius: 8px;
	position: relative;
	display: grid;
	flex-direction: column;
	gap: 3px;
	max-width: 800px;
}

.questionNum {
	margin: 0px;
	font-size: 20px;
}

#deletequestion {
	text-align: right;
	margin-top: 12px;
	right: 15px;
	position: absolute;
}

.questionText {
	width: 100%;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid white;
	outline: none;
	caret-color: rgb(22, 20, 20);
	color: rgb(0, 0, 0);
	font-size: 20px;
	margin-bottom: 10px;
	display: block;
	inline-size: fit-content;
	font-family: "Pixelify Sans", sans-serif;
}

.questionText::placeholder {
	color: rgb(45, 45, 45); /* змінює колір тексту плейсхолдера */
	opacity: 1; /* робить його повністю непрозорим */
}

.variant {
	font-size: 18px;
	margin: 10px 0 5px 0;
	font-family: 'Pixelify Sans', sans-serif;
}

.addvariant {
	background-color: rgb(146, 6, 146);
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 16px;
	width: 5vh;
	height: 30px;
	margin-left: 20px;
}

.addvariant:hover {
	background-color: rgb(124, 74, 124);
}
.quizName p {
	margin: 0;
	font-size: 20px;
	color: white;
	font-family: 'Pixelify Sans', sans-serif;
}

.quizName .reset {
	background-color: rgb(255, 0, 98);
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 16px;
	font-family: 'Pixelify Sans', sans-serif;
}

.quizName .reset:hover {
	background-color: rgb(124, 74, 124);
}	

.quizName{
	    display: flex;



		/* flex-direction: row;      */
        align-items: center;     
  		
		gap: 10px;
		margin-top: 20px;
}

label {
	display: flex;
	gap: 10px;
	align-items: center;
}

#deletevariant {
	background-color: rgb(255, 0, 98);
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 16px;
}

.optionText {
	background-color: transparent;
	border: 1px solid white;
	outline: none;
	caret-color: rgb(22, 20, 20);
	color: rgb(0, 0, 0);
	font-size: 18px;
	font-family: "Pixelify Sans", sans-serif;
}

input[type="checkbox"] {
	width: 15px;
	height: 15px;
}

@media screen and (max-width: 768px) {
	.header h1 {
		font-size: 15px;
		content-align: right;
	}
	
	.backButton img {
		width: 70px;
		height: 35px;
	}
}