html,
body {
	font-family: Arial, sans-serif;
	background-color: rgb(70, 30, 70);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: rgb(140, 60, 140);
	color: rgb(70, 30, 70);
	text-align: center;
	padding: 10px 0;
	font-size: 24px;
	border-radius: 0 0 20% 20%;
	top: 0;
	width: 100%;
	height: 100px;
	display: flex;	
	justify-content: space-between;
	align-items: center;
}
header h1 {
	margin-left: 5%;
}
footer {
	background-color: rgb(140, 60, 140);
	color: rgb(70, 30, 70);
	text-align: center;
	padding: 10px 0;
	font-size: 24px;
	border-radius: 0 0 20% 20%;
	width: 100%;
}
.container {
	margin: 20px;
	min-height: 500px;
	background-color: rgb(35, 15, 35);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	/* display: flex; */
	flex-direction: column;
	flex: 1;
	display: grid;
	gap: 20px;
	/* length: 100%; */
}
.backButton {
	background-color: rgb(100, 50, 100);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	position: relative;
	margin-right: 5%;
	/* top: -78px; */
	text-decoration: none;
}
.backButton:hover {
	background-color: rgb(124, 74, 124);
}
.saveQuizButton {
	background-color: rgb(100, 50, 100);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	display: block;
	margin-top: auto;
	bottom: 5%; /* відступ від низу вікна */
	right: 4%; /* по центру горизонтально */
}
.saveQuizButton:hover {
	background-color: rgb(124, 74, 124);
}
.quizName {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0px;
}
.quizTitle {
	border: none;
	background-color: transparent;
	text-align: left;
	border-bottom: 1px solid white;
	outline: none;
	caret-color: white;
	color: white;
	cursor: text;
	font-size: 22px;
	margin-top: 20px;
	/* width: fit-content; */
	display: inline-block;     /* 👈 робить ширину під контент */
  width: fit-content;        /* 👈 підтримує сучасний підхід */ 
}
.quizTitle::placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.addquestion {
	background-color: rgb(100, 50, 100);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	width: 10vh;
	height: 50px;
}
.quizzesContainer {
	min-height: 100px;
	background-color: rgb(205, 138, 205);
	padding: 10px 20px;
	border-radius: 8px;
	position: relative;
	display: grid;
	flex-direction: column;
	gap: 3px;
	max-width: 800px;
}
.questionNum {
	margin: 0px;
	font-size: 20px;
}

.material-symbols-outlined {
	text-align: right;
	margin-top: 12px;
	right: 15px;
	position: absolute; 
}

.questionText {
	width: 100%;
	border: none;
	background-color: transparent; 
	border-bottom: 1px solid white;
	outline: none;
	caret-color: rgb(22, 20, 20);
	color: rgb(0, 0, 0);
	cursor: text;
	font-size: 18px;
	margin-bottom: 10px;
	display: block;
	inline-size: fit-content;

}
.questionText::placeholder {
  color: rgb(45, 45, 45); /* змінює колір тексту плейсхолдера */
  opacity: 1;                /* робить його повністю непрозорим */
}

.variant {
	font-size: 18px;
	margin: 10px 0 5px 0;
}
.addvariant{
	background-color: rgb(100, 50, 100);
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	width: 5vh;
	height: 30px;
	margin-left: 20px;
}
.addvariant:hover {
	background-color: rgb(124, 74, 124);
}


/* input[type="text"].variantText {
	width: 90%;
	border: none;
	background-color: transparent; 
	border-bottom: 1px solid white;
	outline: none;
	caret-color: rgb(22, 20, 20);
	color: rgb(0, 0, 0);
	cursor: text;
	font-size: 16px;
}
input[type="text"].variantText::placeholder {
  color: rgb(45, 45, 45); /* змінює колір тексту плейсхолдера */
  opacity: 1;                /* робить його повністю непрозорим */
} */