body,
html {
	font-family: Arial, sans-serif;
	background-color: rgb(80, 12, 63);
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
header {
	background-color: rgb(146, 6, 146);
	color: rgb(27, 0, 25);
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
	padding: 2% 0;
	height: 10%;
	min-height: 25px;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	top: 0;
	width: 100%;
	/* margin-bottom: 2%; */
	font-family: "Stalinist One", sans-serif;
	image-rendering: pixelated;
}
header img {
	height: 1.5em;
	vertical-align: middle;
}
footer {
	background-color: rgb(146, 6, 146);
	color: rgb(27, 0, 25);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
	padding: 2% 0;
	font-size: clamp(5px, 3vw, 10px);
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	height: 5%;
	bottom: 0;
	width: 100%;
	margin-top: 2%;
	font-family: "Stalinist One", sans-serif;
}
.stalinist-one-regular {
	font-family: "Stalinist One", sans-serif;
	font-weight: 200;
	font-style: normal;
}
.pixelify-sans {
	font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	/* font-weight: 400; */
	font-style: normal;
}
#container {
	flex: 1;
	width: 93vw;
	margin: 0 auto;
	background-color: rgb(34, 14, 34);
	padding: 2%;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(114, 0, 104, 0.692);
	/* justify-content: center; */
}

#toolbar {
	display: flex;
	justify-content: center;
	gap: 2%;
	margin: 10px 0;
}
.toolbar {
	color: rgb(27, 0, 25);
	padding: 1% 0;
	font-size: 30px;
	font-family: "Pixelify Sans", sans-serif;
	text-decoration: none;
}
@media screen and (max-width: 768px) {
	header {
		font-size: 15px;
	}
	.toolbar {
		font-size: 15px;
	}
	#toolbar {
		margin: 5px 0;
	}