@import "/templates/styles.css";
#container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20vw, 20vw));
	grid-template-rows: repeat(auto-fill, minmax(20vw, 20vw));
	gap: 2vw;
	justify-content: center;
}
.quiz {
	background-color: rgb(233, 14, 178);
	color: rgb(35, 15, 35);
	border: none;
	border-radius: 5%;
	aspect-ratio: 1;
	image-rendering: pixelated;
	height: 20vw;
	cursor: var(--pointer-cursor);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Pixelify Sans", sans-serif;
	font-size: clamp(15px, 2vw, 30px);
}
