@import "/templates/styles.css";

body {
	background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExOWFiNHk5b3drdGZ2dzQyejYwbzJoMjQweWc1eDE1bDhvcWU4NWY5ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/o0vwzuFwCGAFO/giphy.gif);
	background-size: cover;
}
